:root{
    --primary-color: #3778fa;
    --background-color: #fff;
    --font-logo: "space-grotesk"
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-logo);
}

@font-face {
    font-family: "space-grotesk";
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}

body{
    background-color: var(--background-color);
    font-family: var(--font-logo);
}

#header{
    display:flex;
    padding-top:1.15rem;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
}

#logo{
    font-family: var(--font-logo);
    color:var(--primary-color);
    font-weight: 500;
    font-size: 1.7rem;

}

#slogan{
    display: flex;
    padding-top: 4.5rem;
    justify-content: center;
    align-items: center;
}

#slogan h1{
    font-family: var(--font-logo);
    font-size: 2.3rem;
    padding: 0rem 3rem 0rem 3rem;
    font-weight: 650;
    
}

#sub-slogan{
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
    font-size: 0.9rem;
}

#main-frame{
    padding: 3rem 1rem 0rem 1rem;
}

#frame{
    max-width: 100%;
    
}

#help-task{
    display: flex;
    padding-top: 7rem;
}

#help-task h3{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

#help-task-desktop{
    display: none;
   
}


#video{
    display:flex;
    justify-content: center;
    padding: 1.7rem 2rem 0rem 2rem;
}

#video img{
    max-width: 100%;
}

#choose-us h3{
    padding: 3.3rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1.2rem;
}

#back-mobile{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="344" height="301" viewBox="0 0 344 301" fill="none"><rect y="46" width="344" height="255" rx="16" fill="white"/><rect opacity="0.7" x="71.4316" width="202.138" height="301"/><rect x="71.4316" width="202.138" height="301"/><rect x="81.1413" y="7.94434" width="181.836" height="293.056"/></svg>' ) no-repeat;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#faq {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:1.3rem;
}

#faq img{
    align-items: center;
    justify-content: center;

}

#main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr 4);
    padding-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#card{
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 2rem 0rem;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
}

#card p{
    justify-content: center;
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1rem
}

#menu-hamburguer{

}

#card-especial{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    flex-wrap: wrap;
    border-radius: 0.5rem;
}



#card-especial .main-text {
    display:flex;
    margin: 1rem 1rem 0rem 1rem;
    justify-content: space-between;

}

#card-especial #random{
    font-size: 0.7rem;
    justify-content: center;
    margin: 0rem 1rem 1rem 1rem;


}

#back{
    background-color: #f3f3f3;
    margin: 1.8rem;
    border-radius: 1.25rem;
}

#img{
    background-color: #fff;
    margin-top: rem;
    padding: 0rem 5.5rem 0rem 5.5rem;
    border-radius: 1rem;
}

#card2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
}

#card2 p{
    justify-content: center;
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1rem
}

#main-footer{
    display:flex;
    padding-top: 3.3rem;
    background-color: var(--primary-color);
    font-size:3rem;
    padding-left: 1.7rem;
    color:#fff;
    font-weight: bold;
    margin-top: 3rem;
}

#footer{
    background-color: var(--primary-color);
    color:white
}

#text-footer{
    margin-top: 1rem;
    padding-left: 1.7rem;
    color:#fff;
}

#learn-more{
    margin-top: 1.3rem;
    padding-left: 1.7rem;
    border-radius: 6.25rem;
}

#learn-more button{
    background-color: #fff;
    border-radius: 6.25rem;
    padding: 13px 22px;
    font-weight: bold;
    border:none
}

#space{
    padding-top: 10vh
}

#item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1.5rem;
    gap: 4.5vw
}

.especial-grid{
    font-weight: 500;
}

.normal-grid{
    font-weight: 400;
}

#copyright{
    padding-top: 8vh;
    display: flex;
    justify-content: center;
}

#local{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 3vh;
    font-weight: 400;
}

#cookies{
    padding-top: 3vh;
    display:flex;
    justify-content: center;
}

.desktop{
    display: none;
}

#sub-sloganDesktop{

    display:none;
}

#back-desktop{
    display:none;
}

@media (min-width : 768px ){

   .desktop{
    display: flex;
    align-items: center;
    margin: 0 3vw;
    gap: 2vw
   }

   #menu-hamburguer{
    display:none;
   }


   #logoDesktop{
    font-family: var(--font-logo);
    color:var(--primary-color);
    font-weight: 500;
    font-size: 2.25rem;
    margin-right: auto;
   }

   #logo{
    display:none;
    font-size: 1.125rem
   }

   #menuDesktop{
    display:flex;
    gap:2rem;
    margin: 0 auto;
   }

   

   #auth{
    display:flex;
    gap:2rem;
    margin-left:auto;
   }
   #create-acc {
    background-color: var(--primary-color);
    border-radius: 6.25rem;
    display: inline-block; 
}

#create-acc a {
    padding: 0.5rem 1.5rem;
     color: #fff;
    text-decoration: none;
    display: inline-block; 
  font-weight: bold;
}

#slogan h1{

    font-size: 6vw;
    
}

#sub-slogan{
    display:none
}

#sub-sloganDesktop{
    display:block;
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
    font-size: 1.2vw;
}

#main-frame{
    padding-top:5rem;
    display:flex;
    justify-content: center;
}

#frame{
    width: 85%;
}

#help-task-desktop{
    display: flex;
    padding-top: 15vh;
    justify-content: center;
}

#help-task-desktop h3{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    font-size: 5.21vw;
    font-weight: 600;
}

#help-task{
    display: none;

}

#choose-us h3{
    padding-top: 15vh;
    display:block;
    font-size: 5.21vw;
    font-weight: 600;
}

#back-mobile{
    display:none
}

#back-desktop{
    display:flex;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 60px;
    margin:0 7vw ;
    padding-top: 5vw;
}

#img-faq-desktop{
    margin-left:4vw;
    height: 100%;
}

#card-faq{
    display: flex;
    background-color: #fff;
    margin:2vw 5vw;
    justify-content: space-between;
    border-radius: 16px;
}

#card-faq a{
    margin: 2vw 1.2vw;
    font-size: 1.563vw;
    height: 38px;
}

#footer{
    display:none;

}




   }

   

